
h1 {

  font-family: 'Indie Flower', cursive;
}

.fas.fa-sun {

color: #d3697e;
font-size: larger;

}
.fas.fa-cloud-sun-rain

{

  color: #3F3D56;
} 

.fas.fa-cloud-sun {

color: #FCD1DA;

}

.fas.fa-cloud-showers-heavy {

color:  #2F2E41;

}

footer {
font-family: 'Indie Flower', cursive;
color: #d3697e;
padding: 10px 50px;

}
.main-text {

font-size: 25px;

}

.quote {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  text-align: center;

}

.today-weather {

font-size: 20px;
color: #3F3D56;
}

.weather-app {

  margin: 60px 30px;
  border: 1px solid #FCD1DA;
  border-radius: 6px;
  padding: 20px 20px;
  max-width: 600px;
}

.forecast {
  text-align: center;
}

/* 
.btn.btn-primary {

  display: inline-block;
}